{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "none"
}
